body{
	font-family: 'Josefin Sans', sans-serif;
}

.margintop{
	margin-top: 25px;
}

.website-title{
	font-size: 75px;
}

hr{
	border-top: 1px solid #2E2E2E;
}

.info{
	font-size: 25px;
}

.infobox{
	margin-top: 25px;
}

.margin-bottom{
	margin-bottom: 30px;
}

@media only screen and (max-width: 500px){
	body{
	}

	img{
		height: auto;
		width: auto;
		max-width:200px;
		max-height:200px;
	}
}
