body{
	font-family: 'Josefin Sans', sans-serif;
}

.margintop{
	margin-top: 25px;
}

.website-title{
	font-size: 75px;
}

hr{
	border-top: 1px solid #2E2E2E;
}

.info{
	font-size: 25px;
}

.infobox{
	margin-top: 25px;
}

.margin-bottom{
	margin-bottom: 30px;
}

@media only screen and (max-width: 500px){
	body{
	}

	img{
		height: auto;
		width: auto;
		max-width:280px;
		max-height:280px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.logo{
		height: auto;
		width: auto;
		max-width:180px;
		max-height:180px;
	}

	.video{
		margin-top: 20px;
	}

	.margin-left-title{
		margin-left: 110px;
	}

	.margin-left-image{
		margin-left: 20px;
	}

	.margin-left-para{
		margin-left: 15px;
	}
}
